// Fonts
@import url("https://fonts.googleapis.com/css?family=Raleway:300,400,600");

// Variables
@import "variables";

// Bootstrap
@import "~bootstrap/scss/bootstrap";

body{
  //background-image: url("https://media.licdn.com/mpr/mpr/AAEAAQAAAAAAAAxNAAAAJGFkY2QxZmYwLTRlOWQtNGRmMC05OTM4LWNmZjhjYTkxYjdjNw.jpg");
  background-image: url("https://ae01.alicdn.com/kf/HTB1wYAwPVXXXXbfaXXXq6xXFXXXa/Custom-Canvas-Wall-Decor-Bodybuilding-Poster-Sexy-Fitness-Girl-Ass-Sticker-Gym-Sport-Wallpaper-Black-White.jpg_640x640.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}